@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

html {
    font-family: 'Merriweather', serif;
}

html, body, div, article, p, h3, h4 {
    margin: 0;
    padding: 0;
}

img {
    width: 300px;
    height: 300px;
}

.wrapper {
    width: 90%;
    margin:  0 auto;
}

.cover {
    width: 300px;
    float: left;
    margin: 1em;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.cover article {
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);   
    height: 300px;
    font-size: .8em;
    padding: 1em;
    margin-top: 0;
    animation: naar-beneden 1s forwards;
}

.cover:hover article {
    margin-top: -305px ;
    cursor: pointer;
    animation: naar-boven .8s forwards;
}

@-webkit-keyframes naar-beneden {
    10% {margin:  -305px}
    30% {margin:  -155px}
    50% {margin:  -75px}
    70% {margin:  -35px}
    90% {margin:  -20px}
    20%, 40%, 60%, 80%, 100% {margin-top: 0}
}

@-webkit-keyframes naar-boven {
    10% {margin-top: 0}
    30% {margin-top: -153px}
    50% {margin-top: -225px}
    70% {margin-top: -270px}
    90% {margin-top: -290px}
    20%, 40%, 60%, 80%, 100% {margin-top: -305px}
} 

.cover article h3, 
.cover article h4,
.cover article p {
    padding: .3em;
}
